{% extends "_base.html" %}
{% load static %}
<!doctype html>

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
{% block content %}
<script src="{% static 'js/register.js' %}"></script>
<body onload="()=>{console.log('yeah')}">
    <div class="container mx-auto" id="body">
        <div class="container mx-auto p-3" style=" background-color: #1b3ba3; box-shadow: 3px 5px grey;">
            <img src="{% static 'blogs/cdac-logo.png' %}" class="h-4 w-4" style="height: 4rem; display: inline;" alt="My image">
            <form method="GET" action="submissions" class="mx-auto" style="display: inline; text-align: center;">
                <input type="submit" value="Feeds" name="type" class="mx-auto" style="font-size: 12px; color: #f8f7ba; text-align: center;">
                <input type="submit" value="Submissions" name="type" class="ml-2" style="font-size: 12px; color: #F4F27E;;">
                <input type="submit" value="Account" class="ml-2" style="color: #F4F27E; font-size: 22px;">
            </form>
            <form style="text-align: right; font-size: 16px; color: #f8f7ba;" method="get" action="/account">
            <nav>
                <p style="display:inline;margin-left: 8px; color: gold; font-size: 26px; box-shadow: 2px 2px #f8f7ba;">{{ writer }}</p>
            </nav>
          </form>
          </div>
          <div class="flex" style="margin-top: 15px;">
          <div class="container w-5/5 h-screen" style="display: inherit;">
            <div class="container p-4" style="overflow-y:auto;overflow-x: hidden;">
                <div class="container p-2 shadow-lg rounded">
                    <div class="box-content h-full w-32 p-2 border-4" style="border-color: #1b3ba3; background-color: white;">
                        <table class="table-fixed p-4" style="padding: 40px;">
                            <tr class="p-4" style="pad: 4px;">
                                <td  class="p-2 shadow-lg rounded" style="background-color: #1b3ba3;">
                                    <p style="font-size: 18px;color: #F4F27E;">NAME | </p>
                                </td>
                                <td  class="p-2 shadow-lg rounded" style="background-color: white;">
                                    <p style="font-size: 18px;color: #1b3ba3;">{{ writer }} </p>
                                </td>
                            </tr>
                            <tr class="p-4" style="pad: 4px;">
                                <td  class="p-2 shadow-lg rounded" style="background-color: #1b3ba3;">
                                    <p style="font-size: 18px;color: #F4F27E;">EMAIL | </p>
                                </td>
                                <td  class="p-2 shadow-lg rounded" style="background-color: white;">
                                    <p style="font-size: 18px;color: #1b3ba3;">{{ email }} </p>
                                </td>
                            </tr>
                            <tr class="p-4" style="pad: 4px;">
                                <td  class="p-2 shadow-lg rounded" style="background-color: #1b3ba3;">
                                    <p style="font-size: 18px;color: #F4F27E;">WRITER ID | </p>
                                </td>
                                <td  class="p-2 shadow-lg rounded" style="background-color: white;">
                                    <p style="font-size: 18px;color: #1b3ba3;">{{ writer_id }} </p>
                                </td>
                            </tr>
                        </table>
                        <div class="container mx-auto" style="margin-top: 12px; text-align: center;">
                            <button onclick="logout()" class="p-2 shadow-lg rounded" style="background-color: #F4F27E; color: #1b3ba3; display: inline; text-align: center;">LOGOUT</button>
                            <button onclick="changePassword()" class="p-2 shadow-lg rounded" style="background-color: #F4F27E; color: #1b3ba3; display: inline; text-align: center; margin-left: 20px;">CHANGE PASSWORD</button>
                            <button onclick="deleteAccount()" class="p-2 shadow-lg rounded" style="background-color: #F4F27E; color: #1b3ba3; display: inline; text-align: center; margin-left: 20px;">DELETE ACCOUNT</button>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="container mx-auto" id="content" style="margin-top: 12px; text-align: center;">
                            
                        </div>
                    </div>
                    
                  </div>
          </div>
          </div>
          </div>
          </div>
    <!-- <div class="container mx-auto" style="background-color: #1b3ba3;">
    <img src="{% static 'blogs/cdac-logo.png' %}" class="h-4 w-4" style="height: 4rem; display: inline;" alt="My image">
        <div class="p-4 fixed container" style=" background-color: #1b3ba3;display: inline;text-align: center;">        
        <p class="mx-auto" style="display: inline; text-align: center; font-size: 24px;color: gold;">Blogs</p>
            <form method="GET" action="submissions" class="mx-auto" style="display: inline; text-align: center;">
                <input type="submit" value="Feeds" class="mx-auto" style="font-size: 22px; color: #F4F27E; text-align: center;">
                <input type="submit" value="Submissions" class="ml-2" style="font-size: 12px; color: #f8f7ba;">
            </form>
          </div> -->
          
        <!-- <div class="w-full h-full" style="background-color: #FFF5C2;">
            
              <div class="container h-4 p-4 mt-8">
                {% for i in blogs %}
                <div class="box-border h-64 w-full mt-8 shadow-lg rounded-lg relative" style="background-color: #F4F27E;">
                        <div class="mx-auto" style="text-align: center;">
                         <p class="mx-auto" style="display: inline; font-size: 12px; color: #6DB9EF; text-align: center;">posted on {{ i.date }}, by </p><p style="display: inline; color:#3081D0">{{ writer_name }}</p> 
                        </div>
                        <div class="container p-2">
                            <div class="box-border h-6 w-6 p-2 rounded-md" style="display: inline; background-color: #6DB9EF;">
                                TOPIC:
                               </div >
                            <p style="color: #6DB9EF;text-align: justify;font-size: 14px; display: inline; margin-left: 4px;"> {{ i.title }}</p>
                                <hr>
                                <div class="box-border h-6 w-6 p-2 rounded-md" style="display: inline; background-color: #FFF5C2;">
                                    ANS: 
                                   </div > 
                            <p style="color:#3081D0;text-align: justify; font-size: 14px; display: inline; margin-left: 4px;">{{ i.blog }}</p>
                            
                        </div>
                        <div class="absolute inset-x-0 bottom-0 h-12 mx-auto" style="background-color: #f8f7ba; text-align: center;">
                            <form class="mx-auto mt-2" method="GET" action="loadArticles" >
                                <input type="text" value="{{ i.id }}" name="id" style="color: red; visibility: hidden;">
                                <input class="mx-auto shadow-lg rounded-md" style="background-color: #F4F27E; color: #3081D0; padding: 4px; border-color: #3081D0; border: 2px solid;" type="submit" value="read >>" >
                            </form>
                        </div>
                </div>
                {% endfor %}
               
              </div>
              
        </div> -->
    <!-- </div> -->
 {% endblock content %}   
</body>
</html>
