{% extends "_base.html" %}
{% load static %}
<!doctype html>

<html>
    {% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'styles.css' %}" rel="stylesheet" />
  <script src="{% static 'js/lazyload.js' %}"></script>
</head>
<body onload="()=>{console.log('yeah')}" id="body_id">
    <div class="container mx-auto" id="body">
        <div class="container mx-auto p-3" style=" background-color: #1b3ba3; box-shadow: 3px 5px grey;">
            <img src="{% static 'blogs/cdac-logo.png' %}" class="h-4 w-4" style="height: 4rem; display: inline;" alt="My image">
            <form method="GET" action="submissions" class="mx-auto" style="display: inline; text-align: center;">
                <input type="submit" value="Feeds" class="mx-auto text-4xl" style="font-size: 1.5rem; color: #F4F27E; text-align: center;">
                <input type="submit" value="Submissions" class="ml-2 text-sm" style="font-size: 0.7rem; color: #f8f7ba;">
            </form>
            <form style="text-align: right; font-size: 16px; color: #f8f7ba;">
            <nav>
                <p style="display:inline;margin-left: 8px; color: gold; font-size: 18px; box-shadow: 2px 2px #f8f7ba;">Guest</p>
            </nav>
          </form>
          </div>
          <div class="flex" style="margin-top: 15px;">
          <div class="container w-5/5 h-screen" style="display: inherit;">
            <div class="container p-4" style="overflow-y:auto;overflow-x: hidden;">
                {% for i in blogs %}
          <div class="container p-2 shadow-lg rounded lazy">
            <div class="box-content h-72 w-32 p-2 border-4" style="border-color: #1b3ba3; background-color: white;">
                <p style="font-size: 22px;font-weight: bold;">{{ i.title }}</p>
                <br>
                <p style="font-size: 12px; color: #1b3ba3; display: inline;">posted by:</p> <p style="font-size: 16px; color: #1b3ba3; font-weight: bold; display: inline;">{{ i.writer_name }}</p><br><p style="display: inline; font-size: 12px; color: #1b3ba3;">on </p><p style="font-size: 16px; color: #1b3ba3; font-weight: bold; display: inline;">{{ i.date }}</p>
                <br>
                <hr>
                <br>
                <div class="container h-full" style="display: inherit;">
                  <div style="
                  overflow-x: hidden;
                  overflow-y: hidden;
                  height: 450px;">
                  {% if i.images != '' %}
                   <img class="mx-auto shadow-md rounded h-64 w-64" style=" border: 2px solid #1b3ba3;" src="{{ i.images }}">
                   {% endif %}
    
                  <p style="font-size: 14px; text-align: justify; margin-top: 8px;">{{ i.blog }}</p>
                </div>
                </div>
              </div>
            <div class="container w-full" style="text-align: center;">
                <form class="mx-auto mt-2" method="GET" action="loadArticles" >
                    <input type="text" value="{{ i.id }}" name="id" style="color: red; visibility: hidden;">
                    <input type="submit" style="color: #1b3ba3;" value="(read)" >
                </form>
            </div>
          </div>
          {% endfor %}
          </div>
          </div>
          </div>
          </div>
    <!-- <div class="container mx-auto" style="background-color: #1b3ba3;">
    <img src="{% static 'blogs/cdac-logo.png' %}" class="h-4 w-4" style="height: 4rem; display: inline;" alt="My image">
        <div class="p-4 fixed container" style=" background-color: #1b3ba3;display: inline;text-align: center;">        
        <p class="mx-auto" style="display: inline; text-align: center; font-size: 24px;color: gold;">Blogs</p>
            <form method="GET" action="submissions" class="mx-auto" style="display: inline; text-align: center;">
                <input type="submit" value="Feeds" class="mx-auto" style="font-size: 22px; color: #F4F27E; text-align: center;">
                <input type="submit" value="Submissions" class="ml-2" style="font-size: 12px; color: #f8f7ba;">
            </form>
          </div> -->
          
        <!-- <div class="w-full h-full" style="background-color: #FFF5C2;">
            
              <div class="container h-4 p-4 mt-8">
                {% for i in blogs %}
                <div class="box-border h-64 w-full mt-8 shadow-lg rounded-lg relative" style="background-color: #F4F27E;">
                        <div class="mx-auto" style="text-align: center;">
                         <p class="mx-auto" style="display: inline; font-size: 12px; color: #6DB9EF; text-align: center;">posted on {{ i.date }}, by </p><p style="display: inline; color:#3081D0">{{ writer_name }}</p> 
                        </div>
                        <div class="container p-2">
                            <div class="box-border h-6 w-6 p-2 rounded-md" style="display: inline; background-color: #6DB9EF;">
                                TOPIC:
                               </div >
                            <p style="color: #6DB9EF;text-align: justify;font-size: 14px; display: inline; margin-left: 4px;"> {{ i.title }}</p>
                                <hr>
                                <div class="box-border h-6 w-6 p-2 rounded-md" style="display: inline; background-color: #FFF5C2;">
                                    ANS: 
                                   </div > 
                            <p style="color:#3081D0;text-align: justify; font-size: 14px; display: inline; margin-left: 4px;">{{ i.blog }}</p>
                            
                        </div>
                        <div class="absolute inset-x-0 bottom-0 h-12 mx-auto" style="background-color: #f8f7ba; text-align: center;">
                            <form class="mx-auto mt-2" method="GET" action="loadArticles" >
                                <input type="text" value="{{ i.id }}" name="id" style="color: red; visibility: hidden;">
                                <input class="mx-auto shadow-lg rounded-md" style="background-color: #F4F27E; color: #3081D0; padding: 4px; border-color: #3081D0; border: 2px solid;" type="submit" value="read >>" >
                            </form>
                        </div>
                </div>
                {% endfor %}
               
              </div>
              
        </div> -->
    <!-- </div> -->
 {% endblock content %}   
</body>
</html>
