{% extends "_base.html" %}
{% load static %}
<!doctype html>

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
{% block content %}
<body>
    <div class="flex" style="background-color: #FFF5C2;">
        <div class="w-1/5 h-screen shadow-lg p-4 justify-center" style="background-color: #3081D0;" style="text-align: center;">
                <div class="box-border h-16 w-16 mt-4 rounded-full  mx-auto" style="text-align: center; background-color: #F4F27E;">
                    
                    <h1 style="font-size: 40px;">{{ writer_name_fl }}</h1>
                </div>
                <div class="container p-2 mt-8">
                    <p style="color: #F4F27E; text-align: center;" >Top Writers</p>
                    <div class="container mt-2">
                        <button class="w-full shadow-lg rounded" style="background-color: #f8f7ba; color:#3081D0;">{{ writer_name }}</button>
                    </div>
                </div>
            
        </div>
        <div class="w-4/5 h-full" style="background-color: #FFF5C2;">
            <div class="container p-2 fixed" style="text-align: center; background-color: #6DB9EF;">
                <form method="GET" action="submissions">
                    <input type="submit" value="Feeds" style="font-size: 22px; color: #F4F27E;">
                    <input type="submit" value="Submissions" class="ml-2" style="font-size: 12px; color: #f8f7ba;">
                </form>
              </div>
              <div class="container h-4 p-4 mt-8">
                {% for i in blogs %}
                <div class="box-border h-64 w-full mt-8 shadow-lg rounded-lg relative" style="background-color: #F4F27E;">
                        <div class="mx-auto" style="text-align: center;">
                         <p class="mx-auto" style="display: inline; font-size: 12px; color: #6DB9EF; text-align: center;">posted on {{ i.date }}, by </p><p style="display: inline; color:#3081D0">{{ writer_name }}</p> 
                        </div>
                        <div class="container p-2">
                            <div class="box-border h-6 w-6 p-2 rounded-md" style="display: inline; background-color: #6DB9EF;">
                                TOPIC:
                               </div >
                            <p style="color: #6DB9EF;text-align: justify;font-size: 14px; display: inline; margin-left: 4px;"> {{ i.title }}</p>
                                <hr>
                                <div class="box-border h-6 w-6 p-2 rounded-md" style="display: inline; background-color: #FFF5C2;">
                                    ANS: 
                                   </div > 
                            <p style="color:#3081D0;text-align: justify; font-size: 14px; display: inline; margin-left: 4px;">{{ i.blog }}</p>
                            
                        </div>
                        <div class="absolute inset-x-0 bottom-0 h-12 mx-auto" style="background-color: #f8f7ba; text-align: center;">
                            <form class="mx-auto mt-2" method="GET" action="loadArticles" >
                                <input type="text" value="{{ i.id }}" name="id" style="color: red; visibility: hidden;">
                                <input class="mx-auto shadow-lg rounded-md" style="background-color: #F4F27E; color: #3081D0; padding: 4px; border-color: #3081D0; border: 2px solid;" type="submit" value="read >>" >
                            </form>
                        </div>
                </div>
                {% endfor %}
               
              </div>
              
        </div>
    </div>
 {% endblock content %}   
</body>
</html>
