{% extends "_base.html" %}
{% load static %}
{% csrf_token %}
<!doctype html>

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
{% block content %}
<script src="{% static 'js/register.js' %}"></script>
<body>
    <div class="container mx-auto p-3" style=" background-color: #1b3ba3;">
        <img src="{% static 'blogs/cdac-logo.png' %}" class="h-4 w-4" style="height: 4rem; display: inline;" alt="My image">
        <p class="mx-auto" style="display: inline; text-align: center; font-size: 24px;color: gold;">Blogs</p>
      </div>
    <div class="h-screen flex items-center justify-center" style="margin-top: 7rem;">
        <div class="grid grid-cols-1">
        
            <p  style="display: inline; color: #1b3ba3;">Login</p><p style="display: inline; color: gold;">|</p><p style="display: inline; font-size: 48px; color: gold;">Register</p>
        <form action="step1" method="POST"
        style="padding: 1rem;
        font-size: 18px;
        box-shadow: 4px 4px gold; background-color: #1b3ba3; color: gold;"
        > {% csrf_token %}
           
            <br>
            <hr>
            <br>
            <div class="flex gap-2">
                <label class="w-1/3" for="name">First name: </label>
                <input type="text" class="w-2/3" id="name" style="border: 2px solid #6DB9EF; margin-left: 100px; color: #1b3ba3;" name="writer_name" required>
            </div>
            <div class="flex gap-2 mt-4">
                <label class="w-1/3" for="second_name">Second name: </label>
                <input type="text" class="w-2/3" id="second_name" style="border: 2px solid #6DB9EF; margin-left: 75px; color: #1b3ba3;" name="second_name" required>
            </div>
            <div class="flex gap-2 mt-4">
                <label class="w-1/3"  for="email">email: </label>
                <input type="email" onfocusout="ValidateEmail()" class="w-2/3" id="email" style="border: 2px solid #6DB9EF; margin-left: 140px; color: #1b3ba3;" name="writer_email" required>
            </div>
            <div class="flex gap-2 mt-4">
                <label class="w-1/3" for="password1">Enter Password: </label>
                <input type="password" class="w-2/3" id="password1" style="border: 2px solid #6DB9EF; margin-left: 53px;color: #1b3ba3;" name="pass1" required>
            </div>
            <div class="flex gap-2 mt-4">
                <label class="w-1/3" for="password2">Re-Enter Password: </label>
                <input type="password" class="w-2/3" onfocusout="matchPassword()" id="password2" style="border: 2px solid #6DB9EF; margin-left: 30px; color: #1b3ba3;" name="pass2" required>
            </div>
            <div class="grid grid-cols-3 p-4 gap-2">
                <div>
                    <input type="submit" value="SUBMIT" class="rounded shadow-lg p-2 mt-4" style="background-color: #F4F27E; color: rgb(12, 12, 2); box-shadow: 2px 2px #918e08;">
        </form>
                    </div>
                    
        </div> 
        {{message}}   

    </div>
</body>
{% endblock content %} 
</html>
